[workspace]
# Try
# require version 2 to avoid "feature" additiveness for dev-dependencies
# https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2
resolver = "2"

members = [
    "crates/*",
    "examples/*",
    "xtask",
]

[workspace.package]
edition = "2021"
version = "0.1.0"
readme = "README.md"

[workspace.dependencies]
burn = { git = "https://github.com/tracel-ai/burn", branch = "main" }

anyhow = "1.0.81"
clap = { version = "4.5.4", features = ["derive"] }
derive-new = { version = "0.6.0", default-features = false }
derive_more = { version = "0.99.17", features = ["display"], default-features = false }
dotenv = "0.15.0"
env_logger = "0.11.3"
log = "0.4.21"
proc-macro2 = { version = "1.0.86" }
quote = "1.0.36"
rand = "0.8.5"
rmp-serde = "1.3.0"
rstest = "0.19.0"
serde = { version = "1.0.200", default-features = false, features = [
    "derive",
    "alloc",
] } # alloc is for no_std, derive is needed
serde_json = "1.0.64"
strum = {version = "0.26.2", features = ["derive"]}
syn = { version = "2.0.68", features = ["extra-traits","full"] }
thiserror = "1.0.30"
reqwest = "0.12.4"

[profile.dev]
debug = 0 # Speed up compilation time and not necessary.
