[workspace]
# Try
# require version 2 to avoid "feature" additiveness for dev-dependencies
# https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2
resolver = "2"

members = ["crates/*", "xtask"]

[workspace.package]
edition = "2024"
version = "0.1.0"
readme = "README.md"
license = "MIT OR Apache-2.0"
rust-version = "1.87.0"

[workspace.dependencies]
burn = { version = "0.17.1", default-features = false }

anyhow = "1.0.98"
clap = { version = "4.5.39", features = ["derive"] }
colored = "3.0.0"
derive-new = { version = "0.7.0", default-features = false }
log = "0.4.27"
once_cell = "1.21.3"
proc-macro2 = { version = "1.0.95" }
quote = "1.0.40"
rand = "0.9.1"
reqwest = "0.12.19"
regex = "1.11.1"
rmp-serde = "1.3.0"
rstest = "0.25.0"
serde = { version = "1.0.219", default-features = false, features = [
    "derive",
    "alloc",
] } # alloc is for no_std, derive is needed
serde_json = "1.0.140"
strum = { version = "0.27.1", features = ["derive"] }
syn = { version = "2.0.101", features = ["extra-traits", "full"] }
thiserror = "2.0.12"
uuid = { version = "1.17.0", features = [
    "v4",
    "fast-rng",
    "macro-diagnostics",
    "serde",
] }
crossbeam = { version = "0.8.4", default-features = false, features = ["crossbeam-channel"]}
json-patch = { version = "4.0.0", default-features = false }
variadics_please = "1.1.0"
tynm = { version = "0.2.0" }
derive_more = { version = "2.0.1", default-features = false }

### For xtask crate ###
tracel-xtask = { version = "=1.1.8" }

[profile.dev]
debug = 0 # Speed up compilation time and not necessary.
