[package]
authors = ["Tracel Technologies Inc."]
categories = ["development-tools"]
description = "Burn Central."
keywords = ["tracel", "burn-central", "burn", "sdk"]
edition.workspace = true
license.workspace = true
name = "burn-central"
readme.workspace = true
repository = "https://github.com/tracel-ai/tracel/tree/main/crates/burn-central"
version.workspace = true
rust-version.workspace = true

[dependencies]
burn-central-core = { path = "../burn-central-core", version = "0.1.0", optional = true }
burn-central-cli = {  path = "../burn-central-cli", version = "0.1.0", optional = true }
burn-central-cli-macros = { path = "../burn-central-cli-macros", version = "0.1.0", optional = true }
burn-central-runtime = { path = "../burn-central-runtime", version = "0.1.0", optional = true }
