[package]
authors = ["Tracel Technologies Inc."]
categories = ["development-tools"]
description = "Burn Central."
keywords = ["tracel", "burn-central", "burn", "sdk"]
edition.workspace = true
license.workspace = true
name = "burn-central"
readme.workspace = true
repository = "https://github.com/tracel-ai/tracel/tree/main/crates/tracel"
version.workspace = true
rust-version = "1.79"

[features]
default = ["client"]
client = ["dep:burn-central-client", "dep:burn-central-cli-macros"]
cli = ["dep:burn-central-cli", "burn-central-cli-macros/build-cli"]

[dependencies]
burn-central-client = { path = "../heat-sdk", version = "0.1.0", optional = true }
burn-central-cli = {  path = "../heat-sdk-cli", version = "0.1.0", optional = true }
burn-central-cli-macros = { path = "../heat-sdk-cli-macros", version = "0.1.0", optional = true }
