name: CI

env:
  CARGO_TERM_COLOR: always

# For now we execute CI only on PR to save on CI time
on:
  pull_request: {}


jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: tracel-ai/github-actions/setup-rust@v3
        with:
          rust-toolchain: stable
          cache-key: stable-linux
          shared-key: burn-central-ci
      # --------------------------------------------------------------------------------
      - name: Audit
        run: cargo xtask check audit
      # --------------------------------------------------------------------------------
      - name: Format
        shell: bash
        env:
          # work around for colors
          # see: https://github.com/rust-lang/rustfmt/issues/3385
          TERM: xterm-256color
        run: cargo xtask check format
      # --------------------------------------------------------------------------------
      - name: Lint
        run: cargo xtask check lint
      # --------------------------------------------------------------------------------
      - name: Typos
        uses: tracel-ai/github-actions/check-typos@v1
      # --------------------------------------------------------------------------------
      - name: Unit Tests
        run: cargo xtask test unit
      # --------------------------------------------------------------------------------
      - name: Integration Tests
        run: cargo xtask test integration
      # --------------------------------------------------------------------------------
      - name: Documentation Tests
        run: cargo xtask doc tests
