name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  burn-central-core:
    uses: tracel-ai/github-actions/.github/workflows/publish-crate.yml@v1
    with:
      crate: burn-central-core
    secrets:
      CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
  # --------------------------------------------------------------------------------
  burn-central-cli-macros:
    uses: tracel-ai/github-actions/.github/workflows/publish-crate.yml@v1
    with:
      crate: burn-central-cli-macros
    secrets:
      CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
  # --------------------------------------------------------------------------------
  burn-central-cli:
    uses: tracel-ai/github-actions/.github/workflows/publish-crate.yml@v1
    with:
      crate: burn-central-cli
    needs:
      - burn-central-core
      - burn-central-cli-macros
    secrets:
      CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
  # --------------------------------------------------------------------------------
  burn-central:
    uses: tracel-ai/github-actions/.github/workflows/publish-crate.yml@v1
    with:
      crate: burn-central
    needs:
      - burn-central-core
      - burn-central-cli-macros
      - burn-central-cli
    secrets:
      CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
